[user]
	email = github@gregbarendt.com
	name = Greg Barendt
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend
    unstage = reset HEAD
[format]
    pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[push]
	default = simple
